develop:
  extends:
    file: base.yml
    service: base
  container_name: gfw-forma-alerts-api-develop
  environment:
    NODE_ENV: dev
    CARTODB_USER: wri-01
    API_VERSION: v1
    CT_URL: http://mymachine:9000
    CT_REGISTER_MODE: auto
  command: develop
  volumes:
    - ./app:/opt/gfw-forma-alerts-api/app
