version: "3"
services:
  test:
    build: .
    ports:
      - "3600:3600"
    container_name: gfw-forma-alerts-api-test
    environment:
      PORT: 3600
      NODE_PATH: app/src
      NODE_ENV: test
      CARTODB_USER: wri-test
      API_VERSION: v1
      CT_URL: http://mymachine:9000
      CT_REGISTER_MODE: auto
      LOCAL_URL: http://mymachine:3600
      CT_TOKEN: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6Im1pY3Jvc2VydmljZSIsImNyZWF0ZWRBdCI6IjIwMTYtMDktMTQifQ.IRCIRm1nfIQTfda_Wb6Pg-341zhV8soAgzw7dd5HxxQ
      FASTLY_ENABLED: "false"
    command: test
